<f:spaceless>
    <div id="top"></div>
    <div class="body-bg{f:if(condition:settings.navigation.type, then:' body-bg-{settings.navigation.type}')}"
         itemscope="" itemtype="http://schema.org/{settings.snippet.snippet_type}">

        <f:render partial="Navigation/Newsletter" arguments="{_all}"/>


        <div id="content" class="main-section">
            <!--DMAILER_SECTION_BOUNDARY_-->
            <f:render section="Main"/>
            <!--DMAILER_SECTION_BOUNDARY_END-->
        </div>

        <f:render partial="Structure/Footer" arguments="{_all}"/>
        <f:render partial="Navigation/Breadcrumb" arguments="{_all}"/>

    </div>
</f:spaceless>
