//
// Body
// --------------------------------------------------

.body-bg-top {
    padding-top: round(@navbar-height*2);
    @media (min-width: @screen-md) {
        padding-top: 0;
    }
}

.body-bg-bottom {
    padding-bottom: round(@navbar-height*2);
    @media (min-width: @screen-md) {
        padding-bottom: 0;
    }
}
